/* Vertical Tabbed Panels */
.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 160px;
	height: 508px;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	
	color: #444444;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}
.TabbedPanelsTabGroup {
	padding: 20px 3px 20px 13px;
	/*border: 1px solid red;
	margin-left: 10px;
	padding-left: 13px;*/
}
.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	list-style:none;
}
.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #39F;
	border-bottom: solid 1px #999;
}
.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	/*padding: 17px;*/
	padding-left: 17px;
	width: 70%;
	/*height: 18em;*/
	/*background: #999;*/
	/*margin-top: 16px;*/
}
